.Login {
  .page-logo {
    padding: 30px 0 50px 0;
    text-align: center;

    img {
      height: 80px;
    }
  }

  .weui_cells {
    margin-top: 0;
  }

  .icon-img {
    display: block;
    width: 24px;
    margin-right: 0.55em;
  }

  .weui_btn_area {
    margin-top: 50px;
  }
  .version_footer {
    width: 100%;
    text-align: center;
    font-size: 6px;
    position: absolute;
    bottom: 10px;
  }

  .weui_btn_primary:hover {
    background-color: #338baa;
  }

  .weui_btn_primary {
    color: white;
    border: none;
    background-color: #338bdb;
  }

}
